
<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <meta name="description" content="An app for shortening given urls">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">

  </head>
  <body class="center-align container red lighten-5">
    
    <header>
      <h2>
        URL Shortener Microservice
      </h2>
    </header>

    <main>
      <!--<p>Enter a url to get the shortened one:</p>-->
      <form class="flow-text">
        <input type="text" maxlength="100" placeholder="ENTER A VALID URL AND GET THE SHORTENED ONE..">
        <button class="waves-effect waves btn" type="submit">Submit</button>
      </form>
      <section class="shortenedUrl">
        <p class="flow-text">The shortend url for the link you added is:</p>
         <pre class="flow-text"></pre>
        <button class="waves-effect waves-light btn copy">COPY URL</button>
      </section>
    </main>

    <footer>
Another simple app made by RaphaelS
    </footer>
    
    <!--hidden input for selecting text-->
    <input class="hidden_text" />

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    
    <!-- materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <!--browserify-->
    <script src="https://wzrd.in/standalone/copy-to-clipboard@latest" async></script>

  </body>
</html>
