
* {
  box-sizing: border-box;
}


.shortenedUrl{
  visibility:hidden;
}
input{
  letter-spacing: 0.1em;
  border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}

input.hidden_text{
  margin-left:-9999px; 
}